---
layout: default
title: angular-translate Blog
---

<section id="home">
   {% include themes/angular-translate/sidebar.html  %}

  <section class="posts">
    {% for post in paginator.posts %}
      <article>
        <div class="left-side">
           <span class="meta">{{ post.date | date_to_string }}</span><br>
           <span class="meta">{{ post.categories }}</span>

        </div>
        <div class="right-side">
           <a class="title" href="{{ post.url }}">{{ post.title | truncatewords:17 }}</a>
           <p>{{ post.content | strip_html | truncatewords:20}}</p>
        </div>
      </article>
    {% endfor %}

 {% include themes/angular-translate/paginator.html %}

  </section>
</section>
