$imgPath: "";
$base: "";


.logo {
    background: url($base +'http://pascalprecht.github.io/angular-translate/docs/en/img/logo/angular-translate-alternative/angular-translate_alternative_medium2.png') no-repeat top center;
    @include rem-fallback(height, 75);
}
