<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ ASSET_PATH }}/css/screen.css">
    </head>
    <body>


      <header class="header">
        <div class="navbar navbar-fixed-top">
              <a class="logo nav-item" href="http://pascalprecht.github.io/angular-translate">
                <img class="pull-left" src="http://pascalprecht.github.io/angular-translate/docs/en/img/identity/logo/angular-translate-alternative/angular-translate_alternative_small2.png">
              </a>
              <ul class="nav nav-item">
                <li>
                  <a class="book" href="http://pascalprecht.github.io/angular-translate/docs/en/#/api">
                    API Reference
                  </a>
                </li>
                <li>
                  <a class="book" href="http://pascalprecht.github.io/angular-translate/docs/en/#/guide">
                    Guide
                  </a>
                </li>
                <li class="active">
                  <a class="pencil-square" href="#/guide">
                    Blog
                  </a>
                </li>
              </ul>
              <ul class="nav right nav-item">
                <li>
                  <a href="http://pascalprecht.github.io/angular-translate/plato" class="signal">
                   Plato Report
                  </a>
                </li>
                <li>
                  <a href="http://github.com/PascalPrecht/angular-translate" class="github-sign">
                   View on GitHub
                  </a>
                </li>
             </ul>
        </div>
      </header>


      <div class="content-section">
        {{ content }}
      </div>
      <div class="divider"></div>
      <footer>
        <div class="l-container">
          <p>Brought to you by <a href="http://github.com/PascalPrecht"> <img width="40" height="40" src="https://secure.gravatar.com/avatar/b32bdb1fc9fdadeb45d7a1267fdd2fc4?s=40"> Pascal Precht</a> <a href="http://github.com/knalli"><img height="210" src="https://secure.gravatar.com/avatar/6c349ffd9793132e1d217f0de572e080?s=40" width="40"> Jan Philipp</a> <a href="http://github.com/sgara"><img height="40" width="40" src="https://secure.gravatar.com/avatar/076e1a1b2f8ff489387fc5b1a7bd44f4?s=40"> Stéphane Garagnani </a><a href="http://github.com/DWand"><img height="40" width="40" src="https://secure.gravatar.com/avatar/2146036b95ee605ca39779b958cd54ce?s=40"> Max Prichinenko</a> and many <a href="http://github.com/PascalPrecht/angular-translate/contributors">others</a></p>

          <p>Logo designed by <a href="http://stefankroeckel.tumblr.com/">Stefan Kröckel</a></p>
        </div>
          </footer>

      <script>
        var el = document.querySelectorAll('.archive .year');
        var className = 'show';
        var forEach = Array.prototype.forEach;

        forEach.call(el, function ( item ){
        item.addEventListener('click', function (event) {

        var year = ".y"+event.target.textContent;

        var yearSelector = event.target.parentNode.querySelectorAll(year);
        console.log(event.target.parentNode.querySelector(year));
        forEach.call(yearSelector, function ( elem ){

        if (elem.classList) {
        elem.classList.toggle(className);
        } else {
        var classes = elem.className.split(' ');
        var existingIndex = classes.indexOf(className);

        if (existingIndex >= 0)
        classes.splice(existingIndex, 1);
        else
        classes.push(className);
        elem.className = classes.join(' ');
        }
        });
        });
        });
      </script>

    </body>
</html>
