<aside class="sidebar">

  <article class="release">
    <h2>Releases</h2>
    <ul>
      <li class="item">
        <a href="https://github.com/PascalPrecht/angular-translate/blob/master/CHANGELOG.md#111-2013-11-24"> v 1.1.1</a>
      </li>
      <li class="item">
        <a href="https://github.com/PascalPrecht/angular-translate/blob/master/CHANGELOG.md#110-2013-09-02"> v 1.1.0</a>
      </li>
      <li class="item">
        <a href="https://github.com/PascalPrecht/angular-translate/blob/master/CHANGELOG.md#102-2013-08-07">v 1.0.2</a>
      </li>
      <li class="item">
        <a href="https://github.com/PascalPrecht/angular-translate/blob/master/CHANGELOG.md#101-2013-07-26">v 1.0.1</a>
      </li>

    </ul>
  </article>


  <article class="archive">
    <h2>Post Archive</h2>
    <ul>
      {% for post in site.posts %}

      {% unless post.next %}
      <h4 class="item year">{{ post.date | date: '%Y' }}</h4>
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
      <h4 class="item year">{{ post.date | date: '%Y' }}</h4>
      {% endif %}
      {% endunless %}

      <li class="item titles y{{ year }}">{{ post.date | date:"%b" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </article>


  <article class="constributors">
    <h2>Constributors</h2>
    <ul>
      <li class="item">
        <a href="http://github.com/PascalPrecht">
          <img width="40" height="40" src="https://secure.gravatar.com/avatar/b32bdb1fc9fdadeb45d7a1267fdd2fc4?s=40">
          Pascal Precht
        </a>
      </li>
      <li class="item">
        <a href="http://github.com/knalli">
          <img height="40" width="40" src="https://secure.gravatar.com/avatar/6c349ffd9793132e1d217f0de572e080?s=40">
          Jan Philipp
        </a>
      </li>
      <li class="item">
        <a href="https://github.com/firehist">
          <img height="40" width="40" src="https://secure.gravatar.com/avatar/7c385bfa009587015f6b16e3e4ab5d53?d=https%3A%2F%2Fidenticons.github.com%2F403ca5ef25d69069672ac902c1c46268.png&r=x&s=40">
         Benjamin Longearet
      </a>
      </li>
      <li class="item">
        <a href="http://github.com/DWand"><img height="40" width="40" src="https://secure.gravatar.com/avatar/2146036b95ee605ca39779b958cd54ce?s=40">
          Max Prichinenko
        </a>
      </li>
       <li class="item">
        <a href="https://github.com/DanielaValero"><img height="40" width="40" src="https://secure.gravatar.com/avatar/88c25c37e0293da177f803a97ebe660b?d=https%3A%2F%2Fidenticons.github.com%2F3f200f1c93427f0dda4bef74ecbbbb78.png&r=x&s=40">
          Daniela Valero
        </a>
      </li>
      <li class="item">
        <a href="https://github.com/tspaeth"><img height="40" width="40" src="https://secure.gravatar.com/avatar/cbda24fa073ac64d89d48d498a07a262?d=https%3A%2F%2Fidenticons.github.com%2F30dc147afc030628337bdbb21d052c12.png&r=x&s=40">
          Thorsten
        </a>
      </li>
      <li class="item">
        and many
        <a href="https://github.com/PascalPrecht/angular-translate/graphs/contributors">
          others
        </a>
      </li>
    </ul>
</article>
</aside>
