<aside class="sidebar">

  <article class="release">
    <h2>Releases</h2>
    <ul>
      <li class="item">
        <a href="https://github.com/PascalPrecht/angular-translate/blob/master/CHANGELOG.md#111-2013-11-24"> v 1.1.1</a>
      </li>
      <li class="item">
        <a href="https://github.com/PascalPrecht/angular-translate/blob/master/CHANGELOG.md#110-2013-09-02"> v 1.1.0</a>
      </li>
      <li class="item">
        <a href="https://github.com/PascalPrecht/angular-translate/blob/master/CHANGELOG.md#102-2013-08-07">v 1.0.2</a>
      </li>
      <li class="item">
        <a href="https://github.com/PascalPrecht/angular-translate/blob/master/CHANGELOG.md#101-2013-07-26">v 1.0.1</a>
      </li>

    </ul>
  </article>


  <article class="archive">
    <h2>Post Archive</h2>
    <ul>
      {% for post in site.posts %}

      {% unless post.next %}
      <h4 class="item year">{{ post.date | date: '%Y' }}</h4>
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
      <h4 class="item year">{{ post.date | date: '%Y' }}</h4>
      {% endif %}
      {% endunless %}

      <li class="item titles y{{ year }}">{{ post.date | date:"%b" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </article>


  <article class="constributors">
    <h2>Constributors</h2>
    <ul>
      <li class="item">
        <a href="http://github.com/PascalPrecht">
          <img width="40" height="40" src="https://secure.gravatar.com/avatar/b32bdb1fc9fdadeb45d7a1267fdd2fc4?s=40">
          Pascal Precht
        </a>
      </li>
      <li class="item">
        <a href="http://github.com/knalli">
          <img height="210" src="https://secure.gravatar.com/avatar/6c349ffd9793132e1d217f0de572e080?s=40" width="40">
          Jan Philipp
        </a>
      </li>
      <li class="item">
        <a href="http://github.com/sgara">
          <img height="40" width="40" src="https://secure.gravatar.com/avatar/076e1a1b2f8ff489387fc5b1a7bd44f4?s=40">
          Stéphane Garagnani
      </a>
      </li>
      <li class="item">
        <a href="http://github.com/DWand"><img height="40" width="40" src="https://secure.gravatar.com/avatar/2146036b95ee605ca39779b958cd54ce?s=40">
          Max Prichinenko
        </a>
      </li>
      <li class="item">
        and many
        <a href="http://github.com/PascalPrecht/angular-translate/contributors">
          others
        </a>
      </li>
    </ul>
</article>
</aside>
