.l-main-nav {
  ul, li {
    list-style: none;
  }
  ul {
    overflow: hidden;
    border-radius: $border-radius $border-radius 0 0;
  }
  li {
    display: block;
    float: left;
  }
  a {
    display: block;
    padding: 0 2rem;
    color: #fff;
    font-weight: 700;

    &:hover,&:focus {
      background: $darker-blue;
    }
  }
}
